body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

.small-img {
  width: 150px;
  height: 150px;
}
