* {
  box-sizing: border-box;
}

body,
html {
  background-color: #f6f9fc;
  font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h2 {
  color: #32325d;
  font-weight: 400;
  line-height: 50px;
  font-size: 30px;
  margin: 20px 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}
.footer-info {
  margin-top: 0px;
}

.small-img {
  width: 150px;
  height: 150px;
}

.product-img {
  width: 150px;
  height: 200px;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#all-products-container-with-sidebar {
  transition: all 0.5s;
 -webkit-transform: translate3d(300px,0,0);
 transform: translate3d(300px,0,0) !important;
 padding-right: 300px;
}

#all-products-container-no-sidebar {
 transition: all 0.5s;
}

.single-product {
  display: flex;
  width: 350px;
  height: 350px;
}

.single-product-img {
  width: 500px;
  height: 500px;
}

.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}

button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

form, .oauth-options {
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-right: 10px;
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.PaymentRequestButton {
  padding: 0;
}

.filter-form {
  margin: 0 .2em;
  display: block;
}

/* Flexbox setup */
.auth-form {
  display: flex;
}
.oauth-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all-products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  /* box-shadow: 1px 1px 1px 0px #ccc; */
}
#all-products-container-no-sidebar .product-detail {
  width: 33%; /* */
}
#all-products-container-with-sidebar .product-detail {
  width: 50%; /* */
}
@media (min-width: 600px) {
  #all-products-container-no-sidebar .product-detail {
    width: 25%; /* */
  }
  #all-products-container-with-sidebar .product-detail {
    width: 33%; /* */
  }
}
@media (min-width: 960px) {
  #all-products-container-no-sidebar .product-detail {
    width: 20%; /* */
  }
  #all-products-container-with-sidebar .product-detail {
    width: 25%; /* */
  }
}
.product-name {
  align-self: center;
  margin-bottom: 10px;
}
.product-info {
  display: flex;
  justify-content: center;
}
.product-info-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}



/* #singleimage.resize {
  max-width:50%;
  max-height:50%;
} */

#fixedbar {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #353433
}
.spacer
{
    width: 100%;
    height: 120px;
}
