body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

.small-img {
  width: 150px;
  height: 150px;
}

.product-img {
  width: 200px;
  height: 200px;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.single-product {
  display: flex;
  width: 350px;
  height: 350px;
}

.single-product-img {
  width: 500px;
  height: 500px;
}
